.divTableCell {
	height: 50px;
	width: 420px;
	
}


}

.col-sm{
	padding: 100px 50px 100px;
}

.btn{
	size: 100px;
	float: right;
	margin: 4px 2px;
	background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}